@import 'config';

// Utilities
body {
    @include background;
    background: $primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

/* Navigation Bar */
.mainNav {
    height: 80px;
    padding: 10px 100px;
    float: none;
    text-align: center;

    li {
        display: inline-block;
        float: none;
    }

    a {
        line-height: 60px;
        color: $text-color;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 0.9rem;
        font-weight: 500;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }

    }
}

// Logo and Comapny Name
.logo-name-section {
    margin: 6vh 0 15vh 0;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
}

// Links and Job Openings
.links-job-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 6vh 0;
    text-align: center;

    h3 {
        font-family: 'Oxygen', sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 25px;
    }

    .border-links {
        a {
            border: 2px solid #fff;
            display: inline-block;
            border-radius: 50px;
            margin: 0 2px;
            width: 30px;
            height: 30px;
            text-align: center;
            color: #fff;
            @include easeOut;

            &:hover {
                background: #fff;
                color: #333;
            }
        }

        i {
            font-size: .9rem;
        }
    }

    .jobs-btn {
        padding: 10px 25px;
        border: 2px solid #fff;
        color: #fff;
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 100;
        @include easeOut;

        &:hover {
            background: #fff;
            color: #333;
        }   
    }
}

// Information About Company
.info-section {
    hr {
        background-color: #555;
    }

    p {
        color: #ccc;
        padding: 4vh 0;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.1rem;
        letter-spacing: 1px;
    }
}

// Footer with Company's Social Media Links
.footer {
    margin-top: 30vh;
    text-align: center;

    a {
        border: 2px solid #fff;
        display: inline-block;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        margin: 0 3px;
        text-align: center;
        background: #fff;
        color: #333;
        @include easeOut;

        &:hover {
        }
    }

    i {
        font-size: 1rem;
    }
}

@import 'mobile';